body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.options {
    text-align: center;
}

.score {
    text-align: center;
}

h3 {
    text-align: center;
}